// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";

// BASE
@import "./base/common";
@import "./base/section";
@import "./base/container";

// COMPONENTS
@import "./components/social_links";
@import "./components/logo";
@import "./components/button";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";

// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/activity";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/portfolio";
@import "./layout/footer";
