.activity {
  padding-top: 47px;
  padding-bottom: 94px;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.activity__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.activity__card {
  position: relative;
}

.activity__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: var(--activity-card-grey-color);
  color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}
