.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__item {
  margin-top: 30px;
  margin-left: 30px;
}

.clients__link {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-func);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--social-links-color);
  margin: auto;
  transition: fill var(--transition-duration) var(--transition-timing-func);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 97px;
    padding-bottom: 97px;

    &__link {
      width: 170px;
    }
  }
}
