.features {
  padding-top: 60px;
  padding-bottom: 60px;

  &__item {
    width: 100vw;
    max-width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__thumb {
    display: flex;
    height: 120px;
    background-color: var(--background-grey-color);
    margin-bottom: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 14px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    color: var(--grey-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: 30px;
    &__list {
      justify-content: space-between;
    }

    &__item {
      width: 354px;
      margin-top: 0;
      margin-bottom: 30px;
    }
    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 47px;

    &__item {
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__title {
      text-align: left;
    }
  }
}
