.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -30px;
}

.card__item {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% - 90px) / 3;
}

.card__name {
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__category {
  font-size: 16px;
  line-height: 2;
  color: var(--grey-text-color);
  letter-spacing: 0.03em;
}



.card__signature {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.card__contents {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-func);
  .card__link:hover &,
  .card__link:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__img-wrapper {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--overlay-color);
  color: var(--primary-white-color);
  width: 100%;
  height: 100%;
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-func);
  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0);
  }
}
