.logo {
  color: var(--logo-black-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header__logo {
  margin-right: 95px;
}

.logo__span {
  color: var(--accent-color);
}

.logo_white {
  color: var(--primary-white-color);
}