.logo {
  color: var(--logo-black-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.03em;

}

.logo__span {
  color: var(--accent-color);
}

.logo_white {
  color: var(--primary-white-color);
}


@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 95px;
  }
}


