.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-duration) var(--transition-timing-func),
    border-color var(--transition-duration) var(--transition-timing-func);
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid var(--accent-color);
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-func);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}
